.header__logo {
  width: 142px;
  height: 33px;
  object-fit: fill;
  margin: 0 0 41px 0;
}

@media screen and (max-width: 590px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin: 0 0 28px 27px;
  }
}
