.form__item {
  border: 0;
  width: 100%;
  height: 37px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  margin: 0;
  font-size: 14px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 0;
}
.form__item:focus {
	outline: none;
}
