.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 64px;
  grid-area: avatar;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 590px) {
  .profile__avatar {
    justify-self: center;
  }
}
