.form__save-button {
  width: 358px;
  height: 50px;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  align-self: center;
  margin: 27px 0 37px;
}

@media screen and (max-width: 590px) {
  .form__save-button {
    font-size: 14px;
    line-height: 17px;
    width: max(238px, 83.26%);
    height: max(46px, 8.47vw);
    margin: 25px 0 25px;
  }
}
